{{>header}}

<div class="container text-center">
    <h1 class="mt-5">Welcome <span style="color: #008cff;">{{emailUser}}</span></h1>
    <img src="/public/img/icon-music.png" class="mt-5" style="width:40%;">>
</div>



{{>footer}}